
@{
}
<h1>Nettside for å søke etter eksisterende ordrer</h1>
<p>En plass for at kunden kan søke på ordrenummeret sitt feks for å sjekke status/hva som har blitt gjort</p>

<head>
    <title>Søk på serviceorder</title>
</head>
<body>

    <form>
    <label for="searchInput">Søk:</label>
    <input type="text" id="searchInput" name="search" placeholder="Skriv inn ID">
    <button type="submit">Søk</button>
    </form>

</body>



<footer>
    <center><p>Bunnen av siden</p></center>
</footer>